<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bridge -->
      <package
            uri="http://www.sawg.org/bridge"
            class="bridge.Bridge_Package"
            genModel="metamodel/bridge.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bifrost -->
      <package
            uri="http://www.sawg.org/bifrost"
            class="bifrost.Bifrost_Package"
            genModel="metamodel/bifrost.genmodel"/>
   </extension>

</plugin>
